{% extends "base.html" %}
{% block content %}
{% load static%}  

<div class="col-xs-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Order Details</h3>                        
      </div>
      <!-- /.box-header -->
      <div class="card-body">
        <table id="example1" class="table table-bordered table-striped "  >
          <thead>
          <tr bgcolor="#e0bdf2">           
          <th style="width:5%">Sl.no</th>
          <th>Name</th>
          <th>Email</th>
          <th>Product name</th>
          <th>Product Price</th>
          <th>Quantity</th>
        </tr>
    </thead>
    <tbody>

          {% for da in data %}
          <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ da.userid.name }}</td>
          <td>{{ da.userid.email }}</td>
          <td>{{ da.productid.name }}</td>
          <td>{{ da.productid.price}}</td> 
          <td>{{ da.quantity }}</td>
         </tr>
          {% endfor %}
           
    </tbody>
    </table>
      
</div>
</div>

{% endblock %}